@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .hero {

    }

    @media (min-width: 768px){
        .container{
            max-width: 768px;
        }
    }

    @media (min-width: 1024px){
        .container{
            max-width: 1024px;
        }
    }

    @media (min-width: 1280px){
        .container{
            max-width: 1280px;
        }
    }

    @media (min-width: 1536px){

    }
}
.nav-shadow{
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.-z-1{
    z-index: -1;
}



.hero{
    background-image: url("/images/hero3.png");
    background-position:  75% 120%;
    background-repeat: no-repeat;
    background-attachment: local;
    background-size: auto 95% ;
}

@media (min-width: 640px) {
    .hero{
        background-image: url("/images/hero3.png");
        background-position: 100% 100%;
        background-repeat: no-repeat;
        background-attachment: local;
        background-size: auto 90% ;
    }
}
@media (min-width: 768px) {
    .hero{
        background-image: url("/images/hero3.png");
        background-position: 50% 150%;
        background-repeat: no-repeat;
        background-attachment: local;
        background-size: auto 90% ;
    }

}

@media (min-width: 1024px) {
    .hero{
        background-image: url("/images/hero3.png");
        background-position: 0% 100%;
        background-repeat: no-repeat;
        background-attachment: local;
        background-size: auto 120% ;
    }

}
@media (min-width: 1280px) {
    .hero{
        background-image: url("/images/hero3.png");
        background-position: 0% 100%;
        background-repeat: no-repeat;
        background-attachment: local;
        background-size: auto 145% ;
    }

}
@media (min-width: 1536px) {
    .hero{
        background-image: url("/images/hero3.png");
        background-position: 30% 85%;
        background-repeat: no-repeat;
        background-attachment: local;
        background-size: auto 160% ;
    }

}
